.wncl_loadingDiv, .wncl_playDiv, .wncl_endDiv {
	position: relative;
	left: 50%;
	top: 50%;
}

.wncl_loadingDiv {
	margin-top: -16px;
	margin-left: -16px;
	width: 32px;
	height: 32px;
	background-image: url('../images/loader1.gif');
}

.wncl_playDiv {
	margin-top: -24px;
	margin-left: -24px;
	width: 48px;
	height: 48px;
	background-image: url('../images/play.png');
}

.wncl_endDiv {
	margin-top: -24px;
	margin-left: -24px;
	width: 48px;
	height: 48px;
	background-image: url('../images/replay.png');
}